<div class="deck-selection-container" *ngIf="!gameStarted && !gameOver">
  <h2>Prêt à entrer dans l'arène ?</h2>
  <p>Sélectionnez votre deck et celui de votre adversaire. Que le meilleur stratège l'emporte !</p>

  <div class="deck-forms">
    <div class="deck-form">
      <label for="deckPlayer1">Joueur 1</label>
      <select id="deckPlayer1" [(ngModel)]="selectedPlayer1DeckId">
        <option [value]="''" disabled selected>-- Choisir un deck --</option>
        <option *ngFor="let deck of decks" [value]="deck.id">{{ deck.name }}</option>
      </select>
    </div>

    <div class="deck-form">
      <label for="deckPlayer2">Joueur 2</label>
      <select id="deckPlayer2" [(ngModel)]="selectedPlayer2DeckId">
        <option [value]="''" disabled selected>-- Choisir un deck --</option>
        <option *ngFor="let deck of decks" [value]="deck.id">{{ deck.name }}</option>
      </select>
    </div>
  </div>

  <button class="start-button" (click)="startGame()">Jouer</button>
</div>


<div *ngIf="gameStarted && !gameOver" class="game">
  <h2>Tour {{ currentRound }} / {{ totalRounds }}</h2>

  <div class="players">
    <div class="player">
      <div class="player-infos">
        <h3>Joueur 1</h3>
        <p>Score : {{ player1Score }}</p>
      </div>
      <div class="deck">
        <div
        *ngFor="let card of player1DeckCards"
        class="card-selectable"
        [class.disabled]="player1Ready"
        (click)="!player1Ready && selectCard(1, card)"
        >
        <img
          [src]="'/assets/cards/' + card.value + '.png'"
          [alt]="card.name"
          (error)="onImageError($event)"
        />
        <p>{{ card.value }}</p>
      </div>
      </div>
      <p *ngIf="player1Ready">✅ Prêt</p>
    </div>

    <div class="player">
      <div class="player-infos">
        <h3>Joueur 2</h3>
        <p>Score : {{ player2Score }}</p>
      </div>
      <div class="deck">
          <div
            *ngFor="let card of player2DeckCards"
            class="card-selectable"
            [class.disabled]="player2Ready"
            (click)="!player2Ready && selectCard(2, card)"
            >
            <img
              [src]="'/assets/cards/' + card.value + '.png'"
              [alt]="card.name"
              (error)="onImageError($event)"
            /><br>
            {{ card.value }}
          </div>
        </div>
        <p *ngIf="player2Ready">✅ Prêt</p>
      </div>
  </div>

  <div class="played-cards-box" >
    <h3>Cartes jouées</h3>
    <div class="played-cards-row">
        <div class="played-card">
        <h4>Joueur 1</h4>
          <img
            *ngIf="player1SelectedCard"
            [src]="'/assets/cards/' + player1SelectedCard.value + '.png'"
            [alt]="player1SelectedCard.name"
            (error)="onImageError($event)"
          />
          <p>{{ player1SelectedCard?.name }} ({{ player1SelectedCard?.value }})</p>
        </div>

    <div class="played-card">
      <h4>Joueur 2</h4>
        <img
          *ngIf="player2SelectedCard"
          [src]="'/assets/cards/' + player2SelectedCard.value + '.png'"
          [alt]="player2SelectedCard.name"
          (error)="onImageError($event)"
        />
        <p>{{ player2SelectedCard?.name }} ({{ player2SelectedCard?.value }})</p>
    </div>
  </div>

    <p class="result">{{ roundResult }}</p>

  </div>
</div>

<div *ngIf="gameOver" class="game-over">
  <h2 class="end-game-message">Fin de la partie</h2>
  <p class="end-game-result">{{ roundResult }}</p>
  <button (click)="restartGame()">Rejouer</button>
</div>
