<nav class="navigation-bar">
  <div class="navigation-container">
    <a class="brand-name">DeckMaster</a>
    <ul class="navigation-menu">
      <li><a routerLink="/dashboard/game" routerLinkActive="active">Nouvelle partie</a></li>
      <li><a routerLink="/dashboard/deck" routerLinkActive="active">Decks</a></li>
      <li><a routerLink="/dashboard/card-manager" routerLinkActive="active">Cartes</a></li>
    </ul>
    <a class="logout-button" (click)="logout()">Déconnexion</a>
  </div>
</nav>

<!-- Contenu principal -->
<main class="content">
  <router-outlet></router-outlet>
</main>

