:host {
  display: flex;
  gap: 30px;
}

.left-side {
  flex: 1;
}

.management-form {
  padding: 16px;
  background-color: #151b23;
  border: 1px solid #3d444d;
  border-radius: 6px;
}

.card-manager-title {
  color: white;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;


  input {
    background-color: #0d1117;
    border: 1px solid #3d444d;
    border-radius: 6px;
    padding: 0.5rem;
    font-size: 1rem;
    color: #9198a1;
  }

  button {
    background-color: #238636;
    border: #ffffff1a;
    border-radius: 6px;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #29903b;
  }
}

ul {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;

    button {
      margin-left: 0.5rem;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.1rem;

      &:hover {
        color: darkred;
      }
    }
  }
}

.error {
  color: red;
  font-style: italic;
}
